SERPAPI_API_KEY =
OPENROUTER_API_KEY =

DEEP_RESEARCH_RECURSION_LIMIT =100
DEEP_RESEARCH_REASONING_EFFORT =high
DEEP_RESEARCH_TOOL_CALL_LIMIT =20
DEEP_RESEARCH_MODEL_CALL_LIMIT =20
QUICK_RESEARCH_RECURSION_LIMIT =15
QUICK_RESEARCH_REASONING_EFFORT =low
QUICK_RESEARCH_TOOL_CALL_LIMIT =3
QUICK_RESEARCH_MODEL_CALL_LIMIT =5
DEEP_RESEARCH= 0

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=
LANGFUSE_TRACING_ENVIRONMENT=development

LOGGING_LEVEL=DEBUG

POSTGRES_URL=